<h1 class = "center"> Workout Log </h1>


<%= link_to 'Create New Workout', new_article_path, class: "create-article" %>


<div class = "article-listings">
<table>

<tr>
    <th>Workout</th>
    <th>Routine</th>
</tr>

<% @article.each do |article| %>

<tr>
    <td><%= article.title %> </td>
    <td><%= article.description %> </td>
    <td><%= link_to 'Show ', article_path(article), class: "action-items" %></td> 
    
</tr>


<% end %>

</table>
</div>