<h1 align = "center"> Article: <%= @article.title %></h1>

<p class = "example"> Title: <%= @article.title %></p>
<p> Description: <%= @article.description %></p>


<%= link_to "Edit this article", edit_article_path(@article)%> 

