@import "bootstrap";

nav {
    background-color: #33354A;
    color: white;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #f5f5f0;
}

.navbar-nav .nav-link {
    color: #D39D95
}

.navbar-nav .nav-link:hover {
    color: #eeb8b1
}

.center {
    text-align: center;
}

#jumbo {
    background-color: #F5F5F0;
    color: #CA696A;
}

body {
    background-color: #F5F5F0;
}